.profile{
  padding: 24px;
  flex-grow: 1;
  border-radius: 8px;
  background-color: #191919;
}

.profile *{
  background-color: #191919;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.group{
  width: 100%;
}

.group input{
  width: 100%;
  background-color: #212123;
  padding: 12px 24px;
  border-radius: 8px;
}

.submit{
  background: #6C3EB8;
  line-height: 38px;
  border-radius: 6px;
  font-weight: 500;
}